
Causation_Extractor/__pycache__/Analysis_GUI.cpython-39.pyc
Causation_Extractor/__pycache__/ceBackend.cpython-39.pyc
Builder/__pycache__/NewSalientArtifact.cpython-39.pyc

.DS_Store
Builder/__pycache__/Edit.cpython-39.pyc
Causation_Extractor/__pycache__/saveProject.cpython-39.pyc
